body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(circle, white, rgb(126, 126, 126));
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1466px;
    height: 768px;
    background: grey;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container button {
    height: 768px;
    width: 50px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right {
    transform: rotate(180deg);
}

button:hover {
    background-color: rgb(211, 211, 211);
}

#image {
    height: 768px;
    width: 1366px;
    position: relative;
}

.description {
    width: 1366px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
}

#photo-title {
    color: white;
    font-size: 2rem;
    margin-left: 5%;
}

#photo-description {
    color: white;
    font-size: 1.3rem;
    margin-left: 5%;
}